@import "tailwindcss";
@import "tailwindcss";

body {
margin: 0;
padding: 0;
box-sizing: border-box;  
background-color: #000000;
color: #ffffff;
}

@theme inline {
  --font-playfair: var(--font-playfair);
  --font-opensans: var(--font-opensans);
 
}

@theme {
  --color-blue-100: #2c325d;
  --color-light-100: #fff8fb;
  --color-dark-100: #212121;
  --color-gray-20: rgba(108, 102, 133, 0.2);
  --color-gray-25: rgba(108, 102, 133, 0.25);
  --color-gray-40: rgba(58, 56, 77, 0.04);
  --color-gray-100: #6c6685;
  --color-pink-10: #ffeef5;
  --color-pink-100: #ff4393;
  --color-orange-100: #fe6247;
  --text-28: 1.75rem;
  --shadow-10: 0px 6px 24px 0px rgba(0, 0, 0, 0.1);
  --shadow-15: 0px 8px 24px 0px rgba(0, 0, 0, 0.15);
  --shadow-20: 0px 10px 30px 0px rgba(0, 0, 0, 0.2);
  --shadow-inset-20:
    0px 10px 40px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 1px #d7d5dd inset;
  --radius-20: 20px;
  --radius-18: 18px;
  --background-image-radial-100:
    radial-gradient(
      79.36% 59.94% at 101.94% -1.83%,
      #ffe5f0 0%,
      #fff 42%,
      rgba(0, 0, 0, 0) 42%
    ),
    radial-gradient(
      60.29% 53.62% at 0% 100%,
      #ffd8e9 0%,
      #fff 42%,
      rgba(0, 0, 0, 0) 42%
    );
}

@layer base {
  *,
  html,
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-playfair);
  }

  


  button {
    @apply cursor-pointer;
  }
 
}
@layer components {
  .heading-xl {
    @apply text-white text-[80px] font-normal leading-[110px];
  }
  .title-xl{
    @apply  text-white text-2xl font-semibold font-playfair leading-[33px]
  }
  .p-base {
    @apply text-white/60 text-base font-normal font-opensans leading-[30px]
  }
}

